.background {
  viewport-fill: black;
}

.battery {
  x: 85%;
  y: 5%;
  height: 15;
  width: 38;
  fill: grey;
  opacity: 0.75;
}

.icon {
  y: 95%-14;
  height: 15;
  width: 15;
  fill: grey;
}

#batteryLabel {
  font-size: 12;
  text-length: 4;
  text-anchor: start;
  x: 87%;
  y: 10%-1;
}

#dateLabel {
  font-size: 32;
  font-family: Seville;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 25%+20;
  fill: pink;
}

#timeLabel {
  font-size: 80;
  font-family: System-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: deeppink;
}

#stepLabel {
  font-size: 20;
  font-family: System-Bold;
  text-anchor: start;
  text-length: 7;
  x: 5%+18;
  y: 95%;
  fill: pink;
}

#floorLabel {
  font-size: 20;
  font-family: System-Bold;
  text-anchor: end;
  text-length: 4;
  x: 90%-2;
  y: 95%;
  fill: pink;
}
