.background {
  viewport-fill: gold;
}

.headerLabel {
  y: 100%-5;
  font-size: 20;
  font-family: SevilleSharp-Book;
  fill: pink;  
}

#dateLabel {
  text-length: 14;
  text-anchor: start;
}

#batteryLabel {
  text-length: 4;
  text-anchor: end;
}

#batteryIcon {
  height: 15;
  width: 38;
  opacity: 0.75;
}

.timeLabel {
  font-family: System-Regular;
  fill: deeppink;
  x: 71%;
  y: 50%+25;
}

#timeLabel {
  font-size: 96;
  text-length: 5;
  text-anchor: end;
}

#secondsLabel {
  font-size: 64;
  text-length: 3;
  text-anchor: start;
}

.activityIcon {
  height: 24;
  width: 24;
  fill: darkgrey;
}

.activityLabel {
  font-size: 32;
  font-family: System-Bold;
  text-length: 6;
  fill: pink;
}

#leftActivityLabel {
  text-anchor: start;
}

#rightActivityLabel {
  text-anchor: end;
}
